<html lang="en">
<head>
<link rel="stylesheet" href="{{ 'css/bootstrap.css'|staticfile }}">
<script src="{{ 'js/jquery-3.3.1.js'|staticfile }}"></script>
<script src="{{ 'js/jQueryRotate.js'|staticfile }}"></script>
<script src="{{ 'js/blockchan.js'|staticfile }}"></script>
<meta charset="utf-8">
<title>Blockchan</title>
<body style="background-color: lightcyan">

<div align="right" class="well well-sm" class="fixed-top">
<button type="button" class="btn btn-primary" style="float:left;" id="topmenubutton"><span style="display:inline-block;"><img id="topmenuimage" src="{{ 'img/kamina.png'|staticfile }}" height="21px" width="32px"/></span></button>
<div id="topmenu" style="display:none;">
<input style="width: 15%; float:left; position: absolute; left:80px;" type="text" class="form-control" name="username" value="Anonymous" form="form">
<a href="BackEnd.load_posts" data-bind="true"><button type="button" class="btn"><span class="glyphicon glyphicon-home"></span> Home</a></button>
<a href=""><button type="button" class="btn"><span class="glyphicon glyphicon-wrench"></span> Settings</a></button>
<a href=""><button type="button" class="btn"><span class="glyphicon glyphicon-signal"></span> Connection Status</a></button>
</div>
</div>
<br><br>
<div align="center" class="page-header">
<h1><img src="{{ 'img/kamina.png'|staticfile }}" width="90" height="60" alt=""/><b>Welcome to Kamina</b></h1><br><br>
<button id="snth" type="button" class="btn"><span class="glyphicon glyphicon-pencil"></span> Start New Thread</button><br><br>
</div>

<div align="center" id="new_post" style="display: none">
<form action="BackEnd.new_post" class="col-lg-12" id="form" data-bind=true>
<div class="form-group">
<input style="width: 30%;" type="text" class="form-control" name="subject" placeholder="Subject">
<textarea style="width: 30%;" class="form-control" name="comment" form="form" rows="5" placeholder="What's on your mind ?"></textarea>
Image: <input id="fileinput" type="file" name="file" style="width:500px;"><br>
</div>
<br>
<button type="submit" class="btn btn-primary">Post!</button>
</div>
</div>
</form>

<div align="left" id="posts">
	<br><br><br><br><br><br><br>
{% if mode == 'posts' %}
{% for post in posts %}
	<div class="container">
	<div class="card">
	<div class="card-header"><a style="color:green">{{post.author_name}}</a> &nbsp&nbsp&nbsp Timestamp: {{post.timestamp}} &nbsp&nbsp&nbsp Subject:{{post.subject}}  &nbsp&nbsp&nbsp ID:{{post.id}}</div>
	<div class="card-body">{% if post.image != 0 %}<img id="image" src="data:image/png;base64,{{post.image}}" width="200" height="128"/>{%- endif %} &nbsp {{post.comment}}</div>
	<div class="card-footer">{% if post.comm_count != 0 %}{{post.comm_count}} Comments {% endif %}<div style="float:right;"><a href="javascript:BackEnd.open_post('{{post.id}}')"><button class="btn btn-sm">View thread</button></a></div></div>
	</div></div><br>
{%- endfor %}
<center><h1><a id="loadposts" href="BackEnd.load_posts" data-bind="true">No posts :/</h1></a></center>
{% elif mode == 'singlepost' %}
<input type="text" form="form" name="thread" value="" style="display:none;">
<div class="container">
<div class="card">
<div class="card-header bg-dark text-white"><a style="color:green">{{post.author}}</a> Timestamp: {{post.timestamp}} &nbsp&nbsp&nbsp Subject: {{post.subject}} &nbsp&nbsp&nbsp ID:{{post.id}}</div>
<div class="card-body" align="center">{% if post.image != 0 %}<img id="image" src="data:image/png;base64,{{post.image}}" width="512" height="256" />{%- endif %} <br><br>{{post.comment}}</div>
</div>
<br><br>
{% for post in post.replies %}
	<div class="container">
	<div class="card">
	<div class="card-header"><a style="color:green">{{post.author_name}}</a> &nbsp&nbsp&nbsp Timestamp: {{post.timestamp}} &nbsp&nbsp&nbsp Subject:{{post.subject}}  &nbsp&nbsp&nbsp ID:{{post.id}}</div>
	<div class="card-body">{% if post.image != 0 %}<img id="image" src="data:image/png;base64,{{post.image}}" width="200" height="128"/>{%- endif %} &nbsp {{post.comment}}</div>
  </div></div><br>
{% endfor %}
{% else %}
   <h1><center>Internal Error</h1></center>
</div></div></div><br>;
</div>
{% endif %}


</body>
<div id="sandbox" style="display:none;"></div>
</html>
